---
title: About Us
date: 2021-04-30 14:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">
		제조 현장 지식과 Digital tech의 Convergence</h2>
	  <p>제조DT를 제조 현장에 IT 기술 적용이라는 접근으로 실행한다면 DT를 통한 혁신의 기회와 새로운 사업발굴을 기대하기 어렵습니다.</p> 
	  <p>제조 현장에 대한 경험이 많은 구성원들이 투입되어 고객이 DT를 통해 달성하고자 하는 비전과 목표에 공감하고 Domain 지식과 현장에 대한 이해를 바탕으로 Road Map을 그립니다.</p>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> Smart Factory Platform</li>
		<li><i class="fa fa-check"></i> 호환성과 안전성을 위한 Multi Clouds </li>
		<li><i class="fa fa-check"></i> VNTG Applications</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Automated Infrastructure Managment</li>
		<li><i class="fa fa-check"></i> DataForge </li>
		<li><i class="fa fa-check"></i> </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/index-sliders/캡처.PNG'>
		<div class="carousel-caption">
		  <p>제조 현장 지식과 Digital tech의 Convergence</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/photo.jpg'>
		<div class="carousel-caption">
		  <p>Ducimus qui blanditiis praesentium voluptatum</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide3.jpg'>
		<div class="carousel-caption">
		  <p>Ut non libero consectetur adipiscing elit magna</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->
      </div>

      <div class="row margin-bottom-40">
	<!-- BEGIN TESTIMONIALS -->
	<div class="col-md-7 testimonials-v1">
	  <h2>Client Testimonials</h2>                
	  <div id="myCarousel1" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="active item">
		<blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur adipisicing sit amet do eiusmod dolore.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img1-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Lina Mars</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img5-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Kate Ford</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img2-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Jake Witson</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
	    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
	  </div>
	</div>
	<!-- END TESTIMONIALS --> 

	<!-- BEGIN PROGRESS BAR -->
	<div class="col-md-5 front-skills">
	  <h2 class="block">Our Skills</h2>
	  <span>UI Design 90%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
	  </div>
	  <span>Wordpress CMS 60%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 60%;"></div>
	  </div>
	  <span>HTML/CSS &amp; JavaScript 75%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 75%;"></div>
	  </div>
	</div>                       
	<!-- END PROGRESS BAR -->
      </div>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img2-large.jpg'>
	      <h3>
		<strong>Lina Doe</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img1-large.jpg'>
	      <h3>
		<strong>Carles Puyol</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img3-large.jpg'>
	      <h3>
		<strong>Andres Iniesta</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img5-large.jpg'>
	      <h3>
		<strong>Jessica Alba</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
<font size="8">언제, 어떻게 R을 사용하는가?</font>
